@media screen and (max-width: 640px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .filme-principal .container{
        max-width: 100%;
        padding: 0 2%;
        color: rgba(255, 255, 255, .8);
    }
    .botao{
        margin-top: 5px;
       
    }
    .filme-principal{
        width: 100%;
        height: 50vh;
    }
}